@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";

  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #25252b;
}

.container {
  position: relative;
  width: 750px;
  height: 450px;
  border: 2px solid #ff2770;
  box-shadow: 0 0 25px #ff2770;
  overflow: hidden;
}

.container .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-box.Login {
  left: 0;
  padding: 0 40px;
}

.form-box.Login .animation {
  transform: translate(0%);
  transition: 0.7s;
  opacity: 1;
  transition-delay: calc(0.1s * var(--D));
}

.container.active .form-box.Login .animation {
  transform: translateX(-120%);
  opacity: 0;
}

.form-box.Register {
  /* display: none; */
  right: 0;
  padding: 0 40px;
}

.form-box.Register .animation {
  transform: translate(120%);
  transition: 0.7s ease;
  opacity: 0;
}

.container.active .form-box.Register .animation {
  transform: translateX(0%);
  opacity: 1;
  transition-delay: calc(0.1s * var(--li));
}

.form-box h2 {
  font-size: 32px;
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 25px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  padding-right: 23px;
  transition: 0.5s;
}

.input-box input:focus,
.input-box input:valid {
  border-bottom: 2px solid #ff2770;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: #ff2770;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 18px;
  transform: translateY(-50%);
  transition: 0.5s;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
  top: -5px;
  color: #ff2770;
}

.btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #ff2770;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  height: 300px;
  width: 100%;
  background: linear-gradient(#25252b, #ff2770, #25252b, #ff2770);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.btn:hover:before {
  top: 0;
}

.regi-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 10px;
}

.regi-link a {
  text-decoration: none;
  color: #ff2770;
  font-weight: 600;
}

.regi-link a:hover {
  text-decoration: underline;
}

.info-content {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-content.Login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.info-content.Login .animation {
  transform: translateX(0);
  transition: 0.7s ease;

  transition-delay: calc(0.1s * var(--D));
}

.container.active .info-content.Login .animation {
  transform: translateX(120%);
  opacity: 0;
}

.info-content.Register {
  left: 0;
  text-align: left;
  padding: 0 150px 60px 39px;
  pointer-events: none;
}

.info-content.Register .animation {
  transform: translateX(-120%);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--D));
}

.container.active .info-content.Register .animation {
  transform: translateX(120%);
  opacity: 0;
}

.info-content h2 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.3;
}

.info-content p {
  font-size: 16px;
}

.container .curved-shape {
  position: absolute;
  right: 0;
  top: -5px;
  height: 600px;
  width: 850px;
  background: linear-gradient(45deg, #25252b, #ff2770);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s;
}

.container.active .curved-shape {
  transform: rotate(0deg) skewY(0deg);
}

.container .curved-shape2 {
  position: absolute;
  left: 250px;
  top: 100%;
  height: 700px;
  width: 850px;
  background: #25252b;
  border-top: 3px solid #ff2770;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: bottom left;
  transition: 1.5s;
}

.container.active .curved-shape2 {
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
}
