.container_about {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
  background-size: cover;
  position: relative;
  background-position: center;
}
.about_section {
  display: grid;
  gap: 100px;
}
.section1 {
  display: flex;
  gap: 20px;
}
.child_section1 {
  height: 250px;
  width: 25%;
  background-color: white;
  margin-left: 100px;
  padding-left: 30px;
  padding-top: 20px;
}
.child_section1:hover {
  border: 1px solid #ff2770;
  background: transparent;
  color: white;
}

.child_section1 > h1 {
  font-size: 50px;
}
.child_section1 > p {
  margin-top: 20px;
  font-size: 18px;
}
.child_section2 {
  height: 250px;
  width: 55%;
  margin-left: 80px;
  margin-top: 20px;
}
.child_section2 > h3 {
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
}
.pink-text {
  color: #ff2770;
  font-size: 25px;
}

.section2 {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-left: 100px;
  margin-right: 100px;
}
.section2 > div {
  height: 250px;
  width: 40%;
}

.section2_heading > h3 {
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
}
.profile {
  display: flex;
}

.card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 250px;
  width: 50%;
}

.card:hover {
  border: 1px solid #ff2770;
  background: transparent;
  background-color: white;
  color: #ff2770;
}

.profile > img {
  height: 80px;
  width: 80px;
  margin-left: 30px;
  margin-top: 25px;
  border: 5px solid black;
  padding: 5px;
  transition: transform 0.3s ease, filter 0.3s ease;
  transform: rotate(-15deg);
  color: white;
  filter: grayscale(100%);
}
.profile > img:hover {
  transform: rotate(0deg);
  filter: grayscale(0%);
  border-color: #ff2770;
}

.profile > h4 {
  margin-top: 25px;
  font-size: 20px;
  margin-left: 10px;
}

.profile > h4 > p {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 15px;
}
.profile > h4 > p:hover {
  color: #ff2770;
}

.card > p {
  margin-top: 20px;
  color: black;
  margin-left: 20px;
}
.card > p:hover {
  color: #ff2770;
}
.section3 {
  display: flex;
  flex-direction: row;
}
.section3 > div {
  height: 250px;
  width: 30%;
  margin-left: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section3 .child_section2 {
  height: 320px;
  width: 65%;
  padding-right: 100px;
}
.section3-heading > h3 {
  margin-left: -70px;
}
.about_section_section4 {
  margin-top: -80px;
}
.section4-heading > h3 {
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
}
