footer {
    /* margin-top: 200px; */
    width: 100%;
    background-color: #121619;
    color: #fff;
  }
  
  .top_header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .top_header section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .top_header span {
    padding: 0 1rem;
  }
  
  .top_header .fa {
    color: #ff2770;
    font-size: 35px;
  }
  
  footer .border-shape {
    width: 40%;
  }
  
  footer .border-shape::before {
    width: 100%;
    left: 120px;
  }
  
  footer .border-shape::after {
    width: 100%;
    right: 120px;
  }
  
  footer .bottom_content section {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: Center;
  }
  
  .bottom_content a {
    margin: 0 20px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.5s;
  }
  
  .bottom_content a:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  .copyright {
    padding: 0.8em 0;
    background-color: #1e1e1e;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
  }