

h1,p{
    text-align: center;
}

.profile-icon{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.code-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-left: 135px;
    margin-top: 50px;
    max-width: 1200px; 
}

.code-box > div {
    text-align: center;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: gray;
    padding: 20px;
    height: 8em;
    box-shadow: 0 2px 4px rgba(coal, .2);
}


.profile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 20px;
  }
  
  .nav-left a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }
  
  .nav-right a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }
  
  .fa {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .logout {
    background-color: #f44336;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .login {
    background-color: #4CAF50;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .logout:hover, .login:hover {
    background-color: #555;
    color: white;
  }
  
  .logout:focus, .login:focus {
    outline: none;
  }
  
